[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/HZHVIM/tagbar.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:HZHVIM/nerdtree.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git@github.com:HZHVIM/fugitive.git
[submodule "vim/bundle/better-whitespace"]
	path = vim/bundle/better-whitespace
	url = git@github.com:HZHVIM/better-whitespace.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git@github.com:HZHVIM/ultisnips.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git@github.com:HZHVIM/vim-snippets.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:HZHVIM/supertab.git
